<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xll.mymp.mapper.IDeptMapper" >

    <resultMap id="deptMap" type="dept">
        <id property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <collection property="empList" javaType="List" ofType="emp">
            <id property="empno" column="empno"/>
            <result property="ename" column="ename"/>
            <result property="job" column="job"/>
            <result property="mgr" column="mgr"/>
            <result property="hiredate" column="hiredate"/>
            <result property="sal" column="sal"/>
            <result property="comm" column="comm"/>
            <result property="deptno" column="deptno"/>
        </collection>
    </resultMap>

    <!-- Dept selectByDeptNo(@Param("deptno") Integer deptno); -->
    <select id="selectByDeptNo" resultMap="deptMap" parameterType="integer">
        select
            d.deptno deptno,
            d.dname dname,
            d.loc loc,
            e.empno empno,
            e.ename ename,
            e.job job,
            e.mgr mgr,
            e.hiredate hiredate,
            e.sal sal,
            e.comm comm
        from dept d
        LEFT JOIN emp e on d.deptno = e.deptno
        where d.deptno = #{deptno}
    </select>

</mapper>